doctype html
html
  head
    meta [charset="utf-8"]
    title Sourcebuster JS &trade;

    /[if lt IE 9]
      script [src="http://html5shiv.googlecode.com/svn/trunk/html5.js"]

    link     [rel="stylesheet" href="css/sourcebuster.min.css"]
    script   [src="js/sourcebuster.min.js?v=1.0.5"]

  body

    section [id="wrapper"]
      header
        h1 Sourcebuster JS

      section [id="src-links"]
        a [href="http://www.alexfedoseev.com/post/40/sourcebuster-js" target="_blank"] About
        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
        a [href="https://github.com/alexfedoseev/sourcebuster-js" target="_blank"] GitHub
        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
        a [href="https://github.com/alexfedoseev/sourcebuster-js/archive/master.zip"] Download from GitHub

      table
        tr
          td [width="350"]
            h3 First visit
          td [width="350"]
            h3 Current visit

        tr
          td
            table
              tr
                td [class="sb-table-param-type"] Type:
                td [class="sb-table-param-value" id="sb_first_typ"]
              tr
                td [class="sb-table-param-type"] utm_source:
                td [class="sb-table-param-value" id="sb_first_src"]
              tr
                td [class="sb-table-param-type"] utm_medium:
                td [class="sb-table-param-value" id="sb_first_mdm"]
              tr
                td [class="sb-table-param-type"] utm_campaign:
                td [class="sb-table-param-value" id="sb_first_cmp"]
              tr
                td [class="sb-table-param-type"] utm_content:
                td [class="sb-table-param-value" id="sb_first_cnt"]
              tr
                td [class="sb-table-param-type"] utm_term:
                td [class="sb-table-param-value" id="sb_first_trm"]
          td
            table
              tr
                td [class="sb-table-param-type"] Type:
                td [class="sb-table-param-value" id="sb_current_typ"]
              tr
                td [class="sb-table-param-type"] utm_source:
                td [class="sb-table-param-value" id="sb_current_src"]
              tr
                td [class="sb-table-param-type"] utm_medium:
                td [class="sb-table-param-value" id="sb_current_mdm"]
              tr
                td [class="sb-table-param-type"] utm_campaign:
                td [class="sb-table-param-value" id="sb_current_cmp"]
              tr
                td [class="sb-table-param-type"] utm_content:
                td [class="sb-table-param-value" id="sb_current_cnt"]
              tr
                td [class="sb-table-param-type"] utm_term:
                td [class="sb-table-param-value" id="sb_current_trm"]

      table
        tr
          td [colspan="2"]
            table
              tr
                td [class="sb-table-param-add-type"] First visit date:
                td [class="sb-table-param-add-value" id="sb_first_add_fd"]
              tr
                td [class="sb-table-param-add-type"] First entrance point:
                td [class="sb-table-param-add-value" id="sb_first_add_ep"]
              tr
                td [class="sb-table-param-add-type"] First referer:
                td [class="sb-table-param-add-value" id="sb_first_add_rf"]
              tr
                td [class="sb-table-param-add-type"] Current visit date:
                td [class="sb-table-param-add-value" id="sb_current_add_fd"]
              tr
                td [class="sb-table-param-add-type"] Current entrance point:
                td [class="sb-table-param-add-value" id="sb_current_add_ep"]
              tr
                td [class="sb-table-param-add-type"] Current referer:
                td [class="sb-table-param-add-value" id="sb_current_add_rf"]

              tr
                td [class="sb-table-param-add-type"] Pages seen:
                td [class="sb-table-param-add-value" id="sb_session_pgs"]
              tr
                td [class="sb-table-param-add-type"] Current page:
                td [class="sb-table-param-add-value" id="sb_session_cpg"]

              tr
                td [class="sb-table-param-add-type"] Visits:
                td [class="sb-table-param-add-value" id="sb_udata_vst"]
              tr
                td [class="sb-table-param-add-type"] IP:
                td [class="sb-table-param-add-value" id="sb_udata_uip"]
              tr
                td [class="sb-table-param-add-type"] User agent:
                td [class="sb-table-param-add-value" id="sb_udata_uag"]
              tr
                td [class="sb-table-param-add-type"] Promocode:
                td [class="sb-table-param-add-value" id="sb_promo_code"]

      javascript:

        sbjs.init({
          lifetime: 3,
          domain: {
            host: 'statica.alexfedoseev.com',
            isolate: true
          },
          referrals: [
            {
              host: 'plus.url.google.com',
              display: 'plus.google.com :)'
            }
          ],
          custom_campaign: 'my_adwords_campaign',
          promocode: true,
          callback: placeData
        });

        function placeData(sb) {
          document.getElementById('sb_first_typ').innerHTML       = sb.first.typ;
          document.getElementById('sb_first_src').innerHTML       = sb.first.src;
          document.getElementById('sb_first_mdm').innerHTML       = sb.first.mdm;
          document.getElementById('sb_first_cmp').innerHTML       = sb.first.cmp;
          document.getElementById('sb_first_cnt').innerHTML       = sb.first.cnt;
          document.getElementById('sb_first_trm').innerHTML       = sb.first.trm;

          document.getElementById('sb_current_typ').innerHTML     = sb.current.typ;
          document.getElementById('sb_current_src').innerHTML     = sb.current.src;
          document.getElementById('sb_current_mdm').innerHTML     = sb.current.mdm;
          document.getElementById('sb_current_cmp').innerHTML     = sb.current.cmp;
          document.getElementById('sb_current_cnt').innerHTML     = sb.current.cnt;
          document.getElementById('sb_current_trm').innerHTML     = sb.current.trm;

          document.getElementById('sb_first_add_fd').innerHTML    = sb.first_add.fd;
          document.getElementById('sb_first_add_ep').innerHTML    = sb.first_add.ep;
          document.getElementById('sb_first_add_rf').innerHTML    = sb.first_add.rf;

          document.getElementById('sb_current_add_fd').innerHTML  = sb.current_add.fd;
          document.getElementById('sb_current_add_ep').innerHTML  = sb.current_add.ep;
          document.getElementById('sb_current_add_rf').innerHTML  = sb.current_add.rf;

          document.getElementById('sb_session_pgs').innerHTML     = sb.session.pgs;
          document.getElementById('sb_session_cpg').innerHTML     = sb.session.cpg;

          document.getElementById('sb_udata_vst').innerHTML       = sb.udata.vst;
          document.getElementById('sb_udata_uip').innerHTML       = sb.udata.uip;
          document.getElementById('sb_udata_uag').innerHTML       = sb.udata.uag;

          document.getElementById('sb_promo_code').innerHTML      = sb.promo.code;
        }


      section [id="info"]
        h2 Test Links
        h3 UTM
        p
          a [href="?utm_source=yandex&utm_medium=cpc&utm_campaign=y_test_sourcebuster_js&utm_term=sourcebuster_js_yandex_keyword или просто ключ яндекса"] ?utm_source=yandex&utm_medium=cpc&utm_campaign=y_test_sourcebuster_js...
          br
          a [href="?utm_source=google&utm_medium=cpc&utm_campaign=g_test_sourcebuster_js&utm_term=sourcebuster_js_google_keyword или просто ключ гугла"] ?utm_source=google&utm_medium=cpc&utm_campaign=g_test_sourcebuster_js...

        h3 Organic
        p
          a [href="https://www.google.ru/search?q=statica+alexfedoseev+sourcebuster-js"] Google
          | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          a [href="http://yandex.ru/yandsearch?lr=213&text=statica+alexfedoseev+sourcebuster+js"] Yandex
          | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          a [href="http://search.aol.com/aol/search?enabled_terms=&s_it=comsearch&q=statica+alexfedoseev+sourcebuster+js"] AOL (predefined)
          | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          a [href="http://nova.rambler.ru/search?utm_source=nhp&query=statica+alexfedoseev+sourcebuster+js&btnG=%D0%9D%D0%B0%D0%B9%D1%82%D0%B8"] Rambler (custom)

        h3 Referral
        p
          a [href="http://alexfedoseev.livejournal.com/86404.html"] livejournal.com
          | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          a [href="http://www.alexfedoseev.com/post/40/sourcebuster-js"] alexfedoseev.com

        h3 Referral Custom
        p
          a [href="https://twitter.com/alexfedoseev/status/481686942820478976"] Twitter
          | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          a [href="https://plus.google.com/+%D0%9B%D1%91%D1%88%D0%B0%D0%A4%D0%B5%D0%B4%D0%BE%D1%81%D0%B5%D0%B5%D0%B2/posts/e1NqiXSquPo"] Google+


    footer
      p &nbsp;
